header {

}

.bg-primary {
  background-color: $brand-color !important;
}

.cart-number {
  height: 10px;
  width: 10px;
  background-color: $brand-color;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  position: relative;
  top: -11px;
  color: #eee;
}

.product {
  margin-bottom: 2em;


  .card {
    img {
      height: 250px;
      object-fit: cover;
    }
    .price {
      color: $brand-color;
    }
  }
}

.section-headline {
  padding-bottom: 2em;
}


// Snipcart customizations

.snip-layout .snip-header {
  background: $brand-color !important;
}

.snip-layout .snip-footer, .snip-layout .snip-header__total {
  background: #343a40!important;
}
