---
layout: default
---

  {% include nav.html %}
  {% include header.html %}



  <section id="products">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center section-headline">Buy Our Coffee</h2>
          </div>
      </div>

      <div class="row justify-content-center">
      {% for item in site.data.products %}
        <div class="product col-md-4">
          <div class="card shadow border-0">
            <img src="{{item.image}}" alt="{{item.title}}">
            <div class="card-body">
                <h4>{{item.title}}</h4>
                <p>{{item.description}}</p>
            </div>
            <div class="card-footer">
              <p><span class="price"><strong>{{site.data.main.currency}}{{item.price}}</strong></span><a href="#"
                        class="snipcart-add-item btn btn-sm btn-success float-right"
                        data-item-id="{{item.id}}"
                        data-item-name="{{item.title}}"
                        data-item-price="{{item.price}}"
                        data-item-weight="{{item.weight}}"
                        data-item-url="{{item.url}}"
                        data-item-description="{{item.description}}"
                        data-item-max-quantity="{{item.maximum-quantity}}">Add to cart</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact Us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>
